:root {
    --color-white: #FFFFFF;
    --color-light-grey: #CFCFCF;
    --color-grey: #48556A;
    --color-dark-grey: #19202D;

    --color-light-blue: #ECF2F8;

    --color-purple: #733FC8;
    --color-light-purple: #A775F1;
}

body {
    font-family: "Barlow Semo Condensed", sans-serif;
}